@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@100&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  color: rgb(2, 2, 2);
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  text-align: center;
}
.topnav {
  background-color: #333;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #6ecec9;
  color: white;
}

header {
  height: 100%;
  width: 100%;
}
h1 {
  display: flex;
  font-size: 40px;
}

.mynameis {
  display: flex;
  justify-content: center;
  font-family: Roboto;
}

.logo {
  border-radius: 10em;
}

section {
  display: flex;
  padding: 5px;
  background-image: url(https://www.wallpapertip.com/wmimgs/72-724181_abstract-white-silver-cool-black-line-hd-wallpaper.jpg);
  color: rgb(7, 7, 7);
  justify-content: center;
  gap: 5px;
  margin: 10%;
}
img {
  border-radius: 50em;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px;
}
.icon {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.cicon {
  display: flex;
  justify-content: space-evenly;
}
.contact {
  display: flex;
  justify-content: space-evenly;
}
footer {
  color: aliceblue;
}
