@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@100&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  color: rgb(2, 2, 2);
  background-color: rgb(255, 255, 255);
  height: auto;
  width: auto;
  text-align: center;
}
body {
  display: block;
}

html {
  scroll-behavior: smooth;
}
.topnav {
  background-color: #333;
  overflow: hidden;
  margin-left: 15px;
  margin-right: 15px;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #8bdcd8;
  color: white;
}

header {
  height: 100%;
  width: 100%;
}
h1 {
  display: flex;
  font-size: 50px;
  text-align: left;
  margin-left: 93px;
  margin-right: 93px;
  margin-bottom: 200x;
}
.me {
  display: flex;
  margin-bottom: 70px;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #d5f3f1;
}
.Adeel {
  border-radius: 50em;
  margin-right: 112px;
}
h2 {
  font-size: 30px;
  margin-left: 93px;
  text-align: left;
}

.logo {
  border-radius: 10em;
}

.mainpart {
  display: flex;
  padding: 5px;
  border: 12px double #d5f3f1;
  color: rgb(7, 7, 7);
  justify-content: center;
  gap: 50px;
  margin-bottom: 50px;
  border-radius: 1em;
  margin-left: 93px;
  margin-right: 93px;
  flex-wrap: wrap;
}
.inside-headline {
  font-size: 30px;
}

.text {
  font-size: 20px;
}
.social {
  border-top: 12px double #d5f3f1;
  margin-left: 93px;
  margin-right: 93px;
}

.icon {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 40px;
}
.cicon {
  display: flex;
  justify-content: center;
  gap: 170px;
}
.contact {
  border-top: 12px double #d5f3f1;
  margin-left: 93px;
  margin-right: 93px;
}
.mycontact {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-bottom: 40px;
}
.numbers:link,
.numbers:visited {
  color: rgb(2, 2, 2);
  text-decoration: none;
}
footer {
  color: rgb(248, 248, 248);
  background-color: #333;
  padding: 3px;
  margin: 3px;
}
